<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>

<h2>Add Product</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Product Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Category</label><br>
    <input type="text" name="category"><br><br>

    <label>Price</label><br>
    <input type="number" step="0.01" name="default_price" required><br><br>

    <label>Stock Quantity</label><br>
    <input type="number" name="stock_quantity" required><br><br>

    <label>Product Image</label><br>
    <input type="file" name="image"><br><br>

    <button type="submit">Add Product</button>
</form>

<p>
    <a href="{% url 'product_list' %}">Back to Products</a>
</p>

</body>
</html>
